.header{
	background: url('../images/header1.jpg') no-repeat;
	background-size: 100%;
	height: 100%;
	margin-top: -92px;
	z-index: -1;	
	color: white;
	font-size: 30px;
}

.header-content-inner{
	height: 550px;
	padding-top: 200px;
	color: white;
}

.navbar{
	z-index: 10;
}

